@charset "utf-8";

@font-face
{
	font-family: PTSans;
	src: url(/components/com_cake/app/webroot/fonts/OpenSans-Regular.ttf);
}

body {
	font-family: PTSans,sans-serif;
} 

/** Tables **/
.cakeContainer table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
.cakeContainer th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
	background-color: #F5F5F5;
}
.cakeContainer th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
.cakeContainer th a.asc:after {
	content: ' ⇣';
}
.cakeContainer th a.desc:after {
	content: ' ⇡';
}
.cakeContainer table tr th {
	font-size: 14px;
}
.cakeContainer table tr td {
    border-bottom: 1px solid #DDDDDD;
    empty-cells: show;
    font-size: 13px;
    padding: 6px;
    text-align: left;
    vertical-align: top;
}
.cakeContainer .colsOrderBy {
	cursor:pointer;
} 
.cakeContainer table tr[class!=ck_editor]:nth-child(even) {  /* even/odd  pari/dispari */
	background: #f1f1f1;
}
.cakeContainer table tr[class!=ck_editor]:nth-child(odd) {  /* even/odd  pari/dispari */
	background: #ffffff;
}

/* tabella righe index con dettaglio ajax */
.cakeContainer table tr.view,
.cakeContainer table tr.view-2 {
	background: #fff;
}
.cakeContainer table tr.view:nth-child(4n)
.cakeContainer table tr.view-2:nth-child(2n) {
	background: #f1f1f1;
}
.cakeContainer table tr.trView,
.cakeContainer table tr.trConfig { /* riga con il dettaglio ajax */
	background: none repeat scroll 0 0 #FFFAC2;
	display: none;
}
.cakeContainer table tr.trView > td:first-child,
.cakeContainer table tr.trConfig > td:first-child {
	background: #fff;
}
.cakeContainer table tr td.trGroup {
   empty-cells: show;
   background-color: #E1E1E1;
   border-bottom: 2px solid #DDDDDD;
   font-weight: bold;
}
.cakeContainer td.actions {
	text-align: center;
	white-space: nowrap;
}
.cakeContainer table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/* tabella per il dettaglio dell'articolo da delivery/tabecomm */
.cakeContainer table.TableDettaglio {
	background-color:#fff;
}
.cakeContainer table.TableDettaglio tr {
    height:auto !important;
}
.cakeContainer table.TableDettaglio th {
	border:none;
	width:115px;
}

/** Related **/
.cakeContainer .related {
	clear: both;
	display: block;
}

.cakeContainer .actions-table a  {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
    border-color: #2D6324;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: normal;
    min-width: 0;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); 
}
.cakeContainer .actions-table a:hover {
	background: #5BA150;
	border-color: #acacac;
	text-decoration: none;
}



.cakeContainer .title_details {
   background:url('/images/cake/actions/32x32/playlist.png') no-repeat scroll 0 0 transparent;
   display:inline-block;
   height:32px;
   margin:0 0 5px;
   padding-left:50px;	
   width:95%;
}

.cakeContainer .stato_si, .cakeContainer .stato_0, .cakeContainer .stato_y, .cakeContainer .stato_open {
   background: url('/images/cake/icons/16x16/tick.png') no-repeat scroll center center transparent;
   height: 16px;
   padding-left: 8px;
}
.cakeContainer .stato_no, .cakeContainer .stato_1, .cakeContainer .stato_n, .cakeContainer .stato_close {
   background: url('/images/cake/icons/16x16/cross.png') no-repeat scroll center center transparent;
   height: 16px;
   padding-left: 8px;
}
/*
 * <div class="stato_si_int">testo interno</div>
 */
.cakeContainer .stato_si_int, .cakeContainer .stato_0_int, .cakeContainer .stato_y_int, .cakeContainer .stato_open_int {
   background: url('/images/cake/icons/16x16/tick.png') no-repeat scroll left center transparent;
   padding-left: 20px;
}

.cakeContainer .stato_no_int, .cakeContainer .stato_1_int, .cakeContainer .stato_n_int, .cakeContainer .stato_close_int {
   background: url('/images/cake/icons/16x16/cross.png') no-repeat scroll left center transparent;
   padding-left: 20px;
}
.cakeContainer .stato_wait {
   background: url('/images/cake/icons/16x16/clock_red.png') no-repeat scroll center center transparent;
   height: 16px;
   padding-left: 8px;
}
.cakeContainer .stato_lock {
   background: url('/images/cake/icons/16x16/lock.png') no-repeat scroll center center transparent;
   height: 16px;
   padding-left: 8px;
}
.cakeContainer .stato_qtamax {
   background: url('/images/cake/icons/16x16/basket_delete.png') no-repeat scroll center center transparent;
   height: 16px;
   padding-left: 8px;
}
.cakeContainer .stato_t, .cakeContainer .stato_temporaneo {
   background: url('/images/cake/icons/16x16/eye.png') no-repeat scroll center center transparent;
   height: 16px;
   padding-left: 8px;
}
.cakeContainer .bio, .bio {
   background: url('/images/cake/bio.gif') no-repeat scroll center center transparent;
   height: 20px;
   padding-left: 30px;
}


.cakeContainer .j_content_id_si {
   background: url('/images/cake/icons/16x16/page_white_link.png') no-repeat scroll center center transparent;
   height: 16px;
}
.cakeContainer .j_content_id_no {
   background: url('/images/cake/icons/16x16/page_white_delete.png') no-repeat scroll center center transparent;
   height: 16px;
}
.cakeContainer .j_category_id_si {
   background: url('/images/cake/icons/16x16/package_link.png') no-repeat scroll center center transparent;
   height: 16px;
}
.cakeContainer .j_category_id_no {
   background: url('/images/cake/icons/16x16/package_delete.png') no-repeat scroll center center transparent;
   height: 16px;
}

.cakeContainer .link_mailto, .link_mailto {
   background: url("/images/cake/icons/16x16/email.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
   width: 16px;
   height: 16px;
	margin-right: 5px;
}
.cakeContainer .link_www, .link_www {
   background: url("/images/cake/icons/16x16/world.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
   width: 16px;
   height: 16px;
	margin-right: 5px;
}

.cakeContainer .boxView {
	background-color:blue;
}

.cakeContainer .actionTrView {
   display: none; 
   width: 32px;
   height: 32px;
}
.cakeContainer .openTrView {
   background: url("/images/cake/actions/32x32/viewmag+.png") no-repeat scroll 0 0 transparent;
}
.cakeContainer .closeTrView {
   background: url("/images/cake/actions/32x32/viewmag-.png") no-repeat scroll 0 0 transparent;
}

.cakeContainer .actionTrConfig {
   display: none; 
   width: 32px;
   height: 32px;
}
.cakeContainer .openTrConfig {
   background: url("/images/cake/actions/32x32/configure.png") no-repeat scroll 0 0 transparent;
}
.cakeContainer .closeTrConfig {
   background: url("/images/cake/actions/32x32/configure.png") no-repeat scroll 0 0 transparent;
}

/*
 * D O C
 */
.cakeContainer .doc_ico {
	height:auto;
	overflow: auto;
}
.cakeContainer .doc_details {
	color:#000000;
   font-size: 12px;
   margin-top: 10px;
	float:right;
}
.cakeContainer .doc_details_more {
	color:#000000;
   font-size: 10px;
   margin: 0;
	padding: 0;
	float:right;
}

/*
 * P O P U P /cake/?option=com_cake&controller=PopUp&action=delivery_info&format=notmpl
 */
 .popupWrap { /* div schermo pieno con sfondo con dissolvenza */
    background: none repeat scroll 0 0 #E5E5E5;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
    z-index: 9000;
}
.popup {  /* div centrato con contenuto */
    background-color: #fff;
    border: 7px solid rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    height: 500px;
    left: 50%;
    margin-left: -450px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    width: 900px;
    z-index: 9001;
}

.popupBig {
    height: 80%;
    top: 40%;
    width: 95%;
}
.popupContent {
    height: 95%;
    margin: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}
.popupContent .button-close {
    background: url("/images/cake/close-popup.png") no-repeat scroll center top transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 30px;
    z-index: 9002;
}




/* M O D U L E */
.moduletable .cakeContainer .gas_modules {
    background-color: #F0F0F0;
    padding: 1px;
}
.moduletable .cakeContainer .gas_modules h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.moduletable .cakeContainer .gas_modules ul.list {
   list-style-type: none outside none;
   border-bottom: 1px dotted #999999;
   margin: 0 0 5px !important;
   padding: 5px;
}
.moduletable .cakeContainer .gas_modules ul.list li {
	margin: 0 !important;
	padding-left: 5px;
}

.moduletable .cakeContainer .gas_modules ul.listNumeric {
   list-style: decimal inside none !important;
   margin: 0 !important;
   padding: 3px;
}
.moduletable .cakeContainer .gas_modules ul.listNumeric li {
   border-bottom: 1px dotted #999999;
   margin: 0 !important;
   padding: 3px;
} 

#cart-short {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 10px 27px #C8C8C8;
    left: -275px;
    opacity: 0;
    position: fixed;
    top: 15%;
    width: 375px;
    z-index: 2147483647;
}    
.lastCart {
	background-color:yellow;	
}
.valoreEvidenzia {
    background-color: #09D96B;
    text-align: center;
    width: 30px;
}
.qtaUno {	
  	background-color: #09D96B;
  	float: left;
  	width: 30px;
	margin-right:5px;
	padding:5px;
	text-align:center;
}
.qtaZero {
  	background-color: #FFFFFF;
  	float: left;
  	width: 30px;
	margin-right:5px;
	padding:5px;
	text-align:center;
}
.qtaEvidenza {
    background-color: #FF0000;
    float: left;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    width: 30px;
}


.userAvatar {
    padding: 4px;
    position: relative;
    transition: all 0.6s cubic-bezier(0, 1.5, 0.5, 1) 0s;
    z-index: 10;
}
.userAvatar:focus, .userAvatar:hover {
    padding: 4px;
    position: relative;
    transform: scale(3);
    z-index: 999;
}


/*
 * ecomm filter, dettaglio produttore
 */
#ecomm-filter {
	position: relative;
	overflow: hidden;
}
.caption {
	background: url("/images/cake/actions/32x32/1uparrow.png") no-repeat scroll 50% 0 #fff;
	padding-top: 24px;
	position: absolute;
	color: #000;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	left: 0;
}
.slide-caption {
	height: 100%;
    top: 85%;
    width: 100%;
}

.slide-caption:hover {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}

/*
 *  elementi delle pagine che si carica a pezzi
 */
#order-details, #order-permission {
	margin:0px;
	padding:0px;	
}