<ion-view view-title="Consegne" cache-view="false"> 
<ion-nav-buttons side="right">
	<a href="#/"><button class="button button-clear icon ion-home" title="home"></button></a>
</ion-nav-buttons>

  <ion-content>
 
	<div ng-switch on="organization_id">
		<div ng-switch-when="0">
			<ng-include src="'templates/organizations-choice.html'"></ng-include>
		</div>
		<div ng-switch-default>

			<div class="card" ng-show="rowsFound==0">
			  <div class="item item-text-wrap">
				Non ci sono consegne aperte
			  </div>
			</div>	
			
			<ion-list>  
			   <ion-item class="item-content" ng-repeat="delivery in deliveries" type="item-text-wrap" href="#/app/delivery/{{delivery.id}}">
					
					<div ng-if="delivery.data == '2025-01-01T00:00:00+0000' || delivery.data == '2025-01-01'">
						<h2>Luogo e data da definire</h2>
					</div>
					<div ng-if="delivery.data != '2025-01-01T00:00:00+0000' && delivery.data != '2025-01-01'">
						<h2><span ng-bind="delivery.data | date:'EEEE d MMMM yyyy'"></span>
							<br />dalle ore <span ng-bind="delivery.orario_da | date:'H:mm':'UTC'"></span> alle <span ng-bind="delivery.orario_a | date:'H:mm':'UTC'"></span>
							<span ng-show="isLogged">,<br />{{delivery.luogo}}</span>
						
							<span ng-if="delivery.daysToEndConsegna == 0" class="item-note badge badge-assertive">oggi</span>
							<span ng-if="delivery.daysToEndConsegna > 0" class="item-note badge badge-positive">{{delivery.daysToEndConsegna}} gg</span>
							<span ng-if="delivery.daysToEndConsegna < 0" class="item-note badge badge-energized">{{delivery.daysToEndConsegna}} gg</span>
						</h2>
					</div>			
				
			  </ion-item>
			</ion-list>
		
		</div>
	</div>

  </ion-content>
</ion-view>
<style>
.item-content {
	padding-left: 5px;
}
.icon-badge {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 8px;
}
</style>