<script>
$(function() {
	$('.gasChoice').each(function( index ) {
		var organization_id = $(this).attr("id");
	});
	
});
</script>

<ion-modal-view class="modalOrganization">
  <ion-header-bar>
    <h1 class="title">Il tuo G.A.S.</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModalOrganizations()">Chiudi</button>
    </div>
  </ion-header-bar>
  
  <ion-content>
	  
		<ion-list>  
		   <ion-item class="item-content" ng-repeat="organization in organizations" type="item-text-wrap" ng-click="selectModalOrganizations('{{organization.id}}')">
								
				<div class="item-avatar">
					<img ng-src="http://www.portalgas.it/images/organizations/contents/{{organization.img1}}" ng-if="organization.img1 != null && organization.img1 != ''" />
					<h2>{{organization.name}}</h2>
					<p> {{organization.localita}} ({{organization.provincia}})</p>
				</div>

		  </ion-item>
		</ion-list>

  </ion-content>
</ion-modal-view>