<ion-view view-title="Produttore">  
<ion-nav-buttons side="right">
	<a href="#/"><button class="button button-clear icon ion-home" title="home"></button></a>
</ion-nav-buttons>

  <ion-content data-tap-disabled="true">

  <div class="list card item-text-wrap">
  
		<div class="item item-thumbnail-left">
			<img ng-src="http://www.portalgas.it/images/organizations/contents/{{supplier.img1}}" ng-if="supplier.img1 != ''" />
			<h2>{{supplier.name}}</h2> 
			<p>{{supplier.descrizione}}</p>
		</div>
		<div class="item">
				<span class="item-note">
					{{supplier.localita}} <span ng-if="supplier.provincia != '' && supplier.provincia != null ">({{supplier.provincia}})</span><br />
					<span ng-if="supplier.indirizzo != '' && supplier.indirizzo != null ">{{supplier.indirizzo}}</span> <span ng-if="supplier.cap != '' && supplier.cap != null ">- {{supplier.cap}}</span>
					<div ng-if="supplier.telefono != '' && supplier.telefono != null ">telefono {{supplier.telefono}}</div>
					<div ng-if="supplier.mail != '' && supplier.mail != null ">mail <a href="mailto:{{supplier.mail}}">{{supplier.mail}}</a></div>
					<div ng-if="supplier.www != '' && supplier.www != null ">sito web <a href="{{supplier.www}}" target="_blank">{{supplier.www}}</a></div>				
				</span>	
		</div>	


		
	
  </div>

  
  
<button class="button button-full button-positive">
  Associato ai G.A.S.
</button>


  <div class="list card item-text-wrap" ng-show="supplier.suppliersOrganizations.length">
    
		<ion-list>  
		   <ion-item class="item-content" ng-repeat="suppliersOrganization in supplier.suppliersOrganizations" type="item-text-wrap"">
				
					<div class="item-avatar">
						<img ng-src="http://www.portalgas.it/images/organizations/contents/{{suppliersOrganization.img1}}" ng-if="suppliersOrganization.img1 != null && suppliersOrganization.img1 != ''" />
						<h2>{{suppliersOrganization.name}}</h2>
						<p> {{suppliersOrganization.localita}} ({{suppliersOrganization.provincia}})</p>
						
						<p ng-show="suppliersOrganization.suppliersVotes.voto.length > 0">
							<div ng-if="suppliersOrganization.suppliersVotes.voto==0">
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span> Pessimo
							</div>
							<div ng-if="suppliersOrganization.suppliersVotes.voto==1">
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span> Scarso
							</div>
							<div ng-if="suppliersOrganization.suppliersVotes.voto==2">
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span> Normale
							</div>
							<div ng-if="suppliersOrganization.suppliersVotes.voto==3">
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span> Buono
							</div>
							<div ng-if="suppliersOrganization.suppliersVotes.voto==4">
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span>
								<span style="background:#fff url(http://www.portalgas.it/images/cake/actions/16x16/bookmark.png) no-repeat scroll 0px 0px;padding-left:16px;margin-right:2px;"></span> Ottimo
							</div>
							
							<p ng-show="suppliersOrganization.suppliersVotes.nota.length > 0"> {{suppliersOrganization.suppliersVotes.nota| htmlToPlaintext }}</p>
						</p>
						
					</div>		
			
		  </ion-item>
		</ion-list>
	</div>
	<div>
   
</div>
	<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents" ng-if="supplier.lat != '' && supplier.lng != '' ">
		<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
			<i class="icon ion-looping"></i> Loading
		</ui-gmap-marker>        
	</ui-gmap-google-map>
		
  </ion-content>
  
</ion-view>

<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>	